/packages/

/.vs/DepositControl/CopilotIndices/17.13.439.2385
/.vs/DepositControl/FileContentIndex/27654415-b2b6-4df6-b51d-d1fa2774df97.vsidx
/.vs/DepositControl/FileContentIndex/4aa22224-0a4f-4f5d-8921-92d114ec766f.vsidx
/.vs/DepositControl/FileContentIndex/a063ffa1-4bb0-45f5-8965-8258cbe51caf.vsidx
/.vs/DepositControl/CopilotIndices/17.13.439.2385/CodeChunks.db
/.vs/DepositControl/CopilotIndices/17.13.439.2385/SemanticSymbols.db
/.vs/DepositControl/FileContentIndex/3e40846b-1ef6-4761-bd12-9f38674e2ee2.vsidx
/.vs/DepositControl/FileContentIndex/e8d1dfa7-d225-4b60-a358-0747af24b421.vsidx
